//todo: bannerShop one home page

.bannerShop {
  display: grid;
  grid-template-columns: 49% 49%;
  gap: 2%;
  margin-bottom: 3rem;
  @include break(768) {
    grid-template-columns:100%;
    align-content: center;
  }

  &__item {
    position: relative;
    width: 100%;


    &--text {
      position: absolute;
      margin-top: 10%;
      margin-left: 10%;

      p {
        font-size: 3.125em;
        margin-bottom: 0.75rem;
        font-weight: 600;
        @include break(768) {
          font-size: 4.5em;
        }
        @include break(480) {
          font-size: 3em;
        }

      }


    }

    &--img {
      img {
        width: 100%;
      }
    }
  }

  .itemFlex {
    display: flex;
    flex-direction: column;
    gap: 2%;
    justify-content: space-between;
    @include break(768) {
      gap: 2rem;

    }

    .bannerShop__item {

      .bannerShop__item--text {
        margin-left: 8%;
        bottom: 20%;
      }
    }
  }
}