//todo:swiper top home page
.heroBanner {
  //width: 100%;

  &__content {
    font-size: 16px;
    @include break(1550) {
      font-size: 12px;
    }
    @include break(1024) {
      font-size: 9px;
    }
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: 2rem;
    margin-bottom: 2.5rem;
    @include break(768) {
      grid-template-columns: 100%;
    }
    @include break(480) {
      margin-top: 0.5rem;
    }

    h1 {
      font-size: 6.5em;
      line-height: normal;
      @include break(1880) {
        font-size: 4.5em;
      }
      @include break(768) {
        text-align: center;
        margin-bottom: 0.3em;
      }
      @include break(480) {
        font-size: 3.75em;
        text-align: left;
      }

    }

    &--info {
      font-size: 1.5em;
      line-height: normal;
      font-weight: 700;
      display: flex;
      justify-content: center;
      align-items: center;
      @include break(480) {
        display: none;
      }
    }

    .mobile {
      display: none;
      @include break(480) {
        display: block;
        font-size: 1.2em;
        span {
          color: $secondaryTextColor;
        }

      }
    }


  }

}