.banerOff{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 8%;
  height: 2.5rem;
  &__text{
    display: flex;
    align-items: center;
    span{
      padding: 0 0.75rem;
    }
  }

  &__goShop{
    display: flex;
    a{
      display: flex;
    }
    a span{
      color: $offText;
      font-family: "Inter";
      display: flex;
    }
  }
}
.header {
  .container {
    background-color: indianred;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
  }

  &__listMenu {
    .menu {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 2.5rem
    }
  }

  &__toolbar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem
  }
}