//todo:swiper top home page
.heroBanner{

  &__content{
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    margin-bottom: 2.5rem;
    h1{
      font-size: 4.5em;
    }
  }
}

//todo:Call to action - advertising banner above the header
.banerOff {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 8%;
  height: 2.5rem;

  .text {
    display: flex;
    align-items: center;

    span {
      padding: 0 0.75rem;
    }
  }

}

//todo: goshop
.goShop {
  //display: flex;
  a {
    display: flex;
    //svg path{
    //  stroke: red;
    //}
  }

  span {
    color: $offText;
    font-family: "Inter";
    display: flex;
  }
}

//todo:header
.header {
  .container {
    //background-color: indianred;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 3.75rem;
  }


  &__listMenu {
    .menu {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 2.5rem
    }
  }

  &__toolbar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem
  }
}

//todo: bannerShop one home page
.bannerShop {
  width: 100%;
  display: grid;
  grid-template-columns: 49% 49%;
  gap: 2%;

  &__item {
    position: relative;
    width: 100%;

    &--text {
      //width: 100%;
      position: absolute;
      margin-top: 3rem;
      margin-left: 3rem;
      p{
        font-size: 3.125em;
        margin-bottom: 0.75rem;
        font-weight: 600;
      }
      .goShop{
        width: fit-content;
        border-bottom: 1px solid $mainColor;
      }
    }

    &--img {
      img {
        width: 100%;
      }
    }
  }

  .itemFlex {
    display: flex;
    flex-direction: column;
    gap: 2%;
    justify-content: space-between;
    .bannerShop__item{
      .bannerShop__item--text{
        margin-top: 3rem;
        margin-left: 3rem;
      }
    }
  }
}

//todo:section support
.support {
  margin-top: 3rem;
  margin-bottom: 3rem;
  display: flex;
  align-items: center;
  gap: 2%;

  &__item {
    width: 100%;
    height: 13.75rem;
    background-color: $backgroundItem;
    padding: 3%;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    &--text {
      span {
        color: $secondaryColor;
        @media screen and (max-width: 991px) {
          font-size: 12px;
        }
      }

      h3 {
        margin-bottom: 0.625rem
      }
    }


  }
}

//todo:bannerOff
.bannerOff {
  max-width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;

  &__img {
    width: 100%;

    img {
      width: 100%;

    }
  }

  &__content {
    background-color: $backgroundItem;
  }
}

//todo:section Articles

.articles {
  width: 100%;

  &__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__item {
    display: grid;
    grid-template-columns: 32% 32% 32%;
    justify-content: space-between;

    &--box {
      .boxImg {
        img {
          width: 100%;
        }
      }
    }

  }
}

//todo:  section newsletter
.newsletter {
  width: 100%;
  position: relative;
  top: 6px
;

  img {
    width: 100%;

  }

  &__content {
    width: 100%;
    position: absolute;
    top: 6.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

//todo: footer

.footer {
  width: 100%;
  background-color: $mainColor;

  .container {
    display: flex;
    justify-content: space-between;
    padding-top: 5rem;
    margin-bottom: 3.5rem;
  }

  hr {
    margin: 0 8%;
  }

  &__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    color: $ThirdText;

  }

  .space {
    color: $secondaryColor;
  }

  &__listMenu {
    color: $ThirdText;

    a {
      color: $ThirdText;
    }

  }

  &__copyRight {
    display: flex;
    justify-content: space-between;
    padding-bottom: 2rem;

    &--text {
      display: flex;
      align-items: center;
      gap: 1.75rem;
      color: $ThirdText;

      a {
        color: $ThirdText;

      }
    }

    p{
      color: $FourthText;
      font-weight: 100;
    }

    &--social {
      display: flex;
      align-items: center;
      gap: 1.5rem;
    }
  }
}
