//text color
$mainColor:#141718;
$secondaryColor:#6C7275;
$ThirdText:#FEFEFE;
$FourthText:#E8ECEF;
$offText:#377DFF;

 //background color
$backgrounWhit:#FEFEFE;
$backgroundBlack:#141718;
$backgroundItem:#F3F5F7;
