*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  @include break(1440) {
    font-size: 14px;
  }
  @include break(1024) {
    font-size: 12px;
  }
  @include break(768) {
    font-size: 8px;
  }

}

body, html {
  font-family: "SpaceGrotesk";
  background-color: $backgroundWhite;

}

body {
  position: relative;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: $mainTextColor;
}

.container {
  margin: 0 8%;
  @include break(768) {
    margin: 0 4rem;

  }
}

//h3 {
//  @include break(991) {
//    font-size: 14px;
//  }
//  @include break(768) {
//    //font-size: 14px;
//  }
//}


.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;


  &__item {
    font-size: 16px;
    @include break(991) {
      font-size: 12px;

    }


    a {
      font-size: 1em;
      color: $secondaryTextColor;
      font-weight: 600;

      &:hover {
        color: $mainTextColor;
      }
    }
  }

  .active {
    color: $mainTextColor;
  }
}
